.no-padding { 
  padding : 0px;
  }
  .ibox-content {
  height: 700px;
  }
  .btn-primary {
  width: 50%;
  margin-left: 20%;

  font-size: 20px;
  font-weight: 900;
  background-color: #174D5A;
  color: #ffffff;
  }
  .img-cover {
  width: 90%;
  height: 300px;
  border: 1px solid #000000;
  }
  .btn-save {
  width: 40%;
  font-size: 20px;
  font-weight: 900;
  background-color: #EFE41D;
  color: #ffffff;
  }
  .campaign-btns {
  margin-top: 50%;
  }
  .btn-publish {
  width: 40%;

  font-size: 20px;
  font-weight: 900;
  background-color: #25E9B5;
  color: #ffffff;
  border: none;
  }