
#candidates-table .table > tbody > tr > td {
  border: none;
}

#candidates-table .table > tbody + tbody {
  border: none;
}

#candidates-table .panel-body {
  padding-left: 0;
  padding-right: 0;
}

#candidates-table table.table tbody tr td.first {
  width: 5%;
}

#candidates-table table.table tbody tr td.second {
  width: 10%;
}

#candidates-table table.table tbody tr td.third {
  width: 20%;
}

#candidates-table table.table tbody tr td.four {
  width: 20%;
}

#candidates-table table.table tbody tr td.five {
  width: 30%;
}

#candidates-table table.table tbody tr td.six {
  width: 15%;
}

#candidates-table table.table tbody tr.odd-row {
  background-color: whitesmoke;
}

#candidates-table table.table tbody tr:hover {
  background-color: gainsboro;
}

