
.required-field {
  color: red;
}

#event-new-basic textarea {
  height: 150px;
  resize: none;
}

#event-new-detail textarea {
  height: 150px;
  resize: none;
}

#event-new-detail .row {
  height: 400px;
}

#event-new-detail .btn-link {
  color: #ffffff;
  background-color: #bfbfbf;
  border-color: #ccc;
}

#event-new-detail .btn-link:hover,
.btn-link:focus,
.btn-link.focus,
.btn-link:active,
.btn-link.active,
.open > .dropdown-toggle.btn-link {
  color: #ffffff;
  background-color: #adadad;
  border-color: #ccc;
  text-decoration: none;
}

#event-table td.center {
  vertical-align: middle;
  text-align: center;
}

#event-table th.center {
  text-align: center;
}

#event-list .ibox-title {
  height: 70px;
}

