#fixed-sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
}
a:focus, a:active, a::-moz-focus-inner { 
  outline: none; 
  border: 0;
  -moz-outline-style: none;
}
.chat-request {
  position: fixed !important;
  left: 0;
  bottom: 0;
  width: 200px;
}