
#sidepane {
  padding-left: 0;
  padding-right: 0;
  background-color: rgba(235, 235, 235, 0.5);
}

#sidepane div {
  margin: 10px;
}

#sidepane hr {
  margin: 0 10px 0 10px;
}

#sidepane .badge {
  background-color: #18a689;
  color: #ffffff;
}

textarea {
  resize: none;
}

#sidepane .task-item {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* AGILE BOARD */
.sortable-list {
  padding: 5px 0;
}

.agile-list {
  list-style: none;
  margin: 0
}

.agile-list li {
  background: #FAFAFB;
  border: 1px solid #e7eaec;
  padding: 5px;
  border-radius: 2px;
}

.agile-list li:hover {
  cursor: pointer;
  background: #fff;
}

.agile-list li.warning-element {
  border-left: 3px solid #f8ac59;
}

.agile-list li.danger-element {
  border-left: 3px solid #ed5565;
}

.agile-list li.info-element {
  border-left: 3px solid #1c84c6;
}

.agile-list li.success-element {
  border-left: 3px solid #1ab394;
}

.agile-detail {
  margin-top: 5px;
  font-size: 80%;
}

.agile-detail .btn-group button {
  margin-top: -13px; 
}

.agile-detail .dropdown-menu {
  font-size: 10px;
  min-width: 80px;
}

#sidepane #note-entries {
  margin: 0;
}

#sidepane #note-entries .slimScrollDiv {
  background-color: rgb(224, 224, 224); 
  margin: 0;
}

#sidepane #note-entries .placeholder {
  padding-left: 8%;
  width: 100%;
  color: rgb(142, 142, 142);
  font-weight: bold;
}

#sidepane #note-entries-main li {
  margin-bottom: 3px;
  font-size: 88%;
}

#sidepane #note-entries-main .agile-detail li {
  margin: 0;
  border: 0;
  padding: 5px;
}

#sidepane div#staff-blog-entries.ng-scope {
  margin: 0;
}

#sidepane #staff-blog-entries p {
  font-size: 90%;
}

#sidepane h3 {
  font-size: 90%;
  margin-bottom: 10px
}

#staff-blog-entries .fa-thumb-tack {
  color: darkgrey;
  margin-right: 5px;
}
  
.create-new-task {
  padding: 5px;
  margin-top: 5px;
  width: 100%;
}

#new-task-dialog, #edit-task-dialog {
  visibility: hidden;
  font-size: smaller;
  position: fixed;
  background-color: white;
  border: 1px lightgrey solid;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  width: 230px;
  height: 250px;
  bottom: 50px;
  right: 30px;
}

#assignee-select-dialog {
  visibility: hidden;
  font-size: smaller;
  position: fixed;
  background-color: white;
  border: 1px lightgrey solid;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  width: 230px;
  height: 105px;
  bottom: 50px;
  right: 30px;
}  

.dialog-btn {
  float: right;
  width: 100px;
  padding: 5px;
  margin-right: 10px;
  margin-top: 10px;
}

.close-button {
  float: right;
}

.close-button:hover {
  color: lightgrey;
}

